<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <nav class="navbar">
    <div class="container">
      <div class="div-index">
        <a class="navbar-brand index" href="/">
          <button type="button" class="button-index">回到首頁</button></a>
      </div>

      <div class="button-right">
        <a class="navbar-brand" href="/about">
          <button type="button" class="button-about">About</button></a>
        <a class="navbar-brand" href="/portfolio">
          <button type="button" class="button-portfolio">Portfolio</button></a>
        <a class="navbar-brand" href="/contact">
          <button type="button" class="button-contact">Contact</button></a>
      </div>

    </div>
  </nav>
  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}

  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>

</body>

</html>